{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:react/recommended"],
  "plugins": ["@typescript-eslint"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/prop-types": 0,
    "no-nested-ternary": 0,
    "import/no-extraneous-dependencies": 0,
    "no-unused-vars": 0,
    "no-unused-expressions": 0,
    "no-plusplus": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx", ".ts", ".tsx"]
    }],
    "no-use-before-define": "off"
  },
  "settings": {
    "import/extensions": [".js",".jsx",".ts",".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts",".tsx"]
     },
     "import/resolver": {
         "node": {
             "paths": ["src"],
             "extensions": [".js",".jsx",".ts",".tsx"]
         }
     }
  }
}