{
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:react/recommended"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "no-nested-ternary": 0,
    "import/no-extraneous-dependencies": 0,
    "no-unused-vars": 0,
    "no-unused-expressions": 0,
    "no-plusplus": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js"]
    }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}